<h3 mat-dialog-title>Edit profile - {{data | userFullName}}</h3>

<div mat-dialog-content>
    <form [formGroup]="editUserFormGroup" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline" class="profile-input">
            <input type="text" matInput placeholder="First name" formControlName="firstName" maxlength="20" minlength="1"
                required>
            <mat-error align="end">Enter first name</mat-error>
        </mat-form-field><br />

        <mat-form-field appearance="outline" class="profile-input">
            <input type="text" matInput placeholder="Last name" formControlName="lastName" maxlength="20" minlength="1"
                required>
            <mat-error align="end">Enter last name</mat-error>
        </mat-form-field><br />

        <mat-form-field appearance="outline" class="profile-input">
            <input type="text" matInput placeholder="Username" formControlName="userName" maxlength="20" minlength="5"
                required>
            <mat-error align="end">Enter username</mat-error>
        </mat-form-field><br />

        <mat-form-field appearance="outline" class="profile-input">
            <input type="email" matInput placeholder="Email" formControlName="email" maxlength="30" minlength="6"
                required>
            <mat-error align="end">Enter a valid email adress</mat-error>
        </mat-form-field><br />

        <div formGroupName="passwordGroup">
            <mat-form-field appearance="outline" class="profile-input">
                <input type="password" matInput placeholder="Password" formControlName="password" pattern="^$|^(?=.*[A-Z])(?=.*[0-9])(?=.*[a-z]).{6,}$">
                <mat-error align="end">Password must be at least 6 characters, one number, one capital and one lower case letter</mat-error>
            </mat-form-field><br />

            <mat-form-field appearance="outline" class="profile-input">
                <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword" 
                [errorStateMatcher]="confirmValidParentMatcher">
                <mat-error align="end">Password & Confirm password doesn't match</mat-error>
            </mat-form-field>
        </div>

        <div fxLayout="row wrap" fxLayoutGap="grid">
                <button cdkFocusInitial [fxFlex]="(100/2) + '%'" fxFlex.xs="100%" fxFlex.sm="50%" mat-button (click)="onCancelClick()">Cancel</button>
                <button class="btn-confirm" [fxFlex]="(100/2) + '%'" fxFlex.xs="100%" fxFlex.sm="50%" mat-button
                  type="submit">Save</button>
              </div>
        
    </form>
</div>