<table mat-table [dataSource]="(orders$ | async)" class="mat-elevation-z8 table-positions">

    <ng-container matColumnDef="orderId">
        <th mat-header-cell *matHeaderCellDef>Order Id</th>
        <td mat-cell *matCellDef="let element"> {{element.orderId}} </td>
    </ng-container>
    <ng-container matColumnDef="orderTime">
        <th mat-header-cell *matHeaderCellDef>Order Time</th>
        <td mat-cell *matCellDef="let element"> {{element.orderTime | date:'mediumDate'}} </td>
    </ng-container>

    <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef>Product</th>
        <td mat-cell *matCellDef="let element">
            <div *ngFor="let orderPosition of element.positions">
                {{orderPosition.printingEditionType | printingEditionType}}
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let element">
            <div *ngFor="let orderPosition of element.positions">
                {{orderPosition.title}}
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Qty</th>
        <td mat-cell *matCellDef="let element">
                <div *ngFor="let orderPosition of element.positions">
                    {{orderPosition.quantity}}
                </div>
            </td>
    </ng-container>

    <ng-container matColumnDef="orderAmount">
        <th mat-header-cell *matHeaderCellDef>Order amount</th>
        <td mat-cell *matCellDef="let element">
            <span>{{ element.total | price: element.currency}} </span>
        </td>
    </ng-container>
    <ng-container matColumnDef="orderStatus">
        <th mat-header-cell *matHeaderCellDef>Order status</th>
        <td mat-cell *matCellDef="let element">
                <div *ngIf="element.orderStatus == orderStatus.Unpaid;  then payBlock else paidBlock"></div>
                <ng-template #payBlock>
                    <button class="btn-pay" (click)="payOrder(element.orderId)">Pay</button>
                </ng-template>
                <ng-template #paidBlock>
                    <span>Paid</span>
                </ng-template>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>