<h3 mat-dialog-title class="centered-text">Add new Product</h3>

<div mat-dialog-content>
    <form [formGroup]="addProductFormGroup" fxLayout="row wrap" fxLayoutGap="grid" (ngSubmit)="onSubmit()">

        <div class="add-product-first-step" [fxFlex]="(50) + '%'" fxFlex.xs="100%" fxFlex.sm="50%">
            <div class="text-input-container" fxLayout="row wrap" fxLayoutGap="grid">
                <span class="input-label" [fxFlex]="(25) + '%'" fxFlex.xs="100%" fxFlex.sm="50%">Title</span>
                <mat-form-field [fxFlex]="(75) + '%'" fxFlex.xs="100%" fxFlex.sm="50%" appearance="outline">
                    <textarea #inputTitle matInput rows="3" formControlName="title"></textarea>
                    <mat-hint align="end">{{inputTitle.value?.length || 0}}/100</mat-hint>
                    <mat-error align="end">Enter title</mat-error>
                </mat-form-field>
            </div>
            <div class="text-input-container" fxLayout="row wrap" fxLayoutGap="grid">
                <span class="input-label" [fxFlex]="(25) + '%'" fxFlex.xs="100%" fxFlex.sm="50%">Description</span>
                <mat-form-field [fxFlex]="(75) + '%'" fxFlex.xs="100%" fxFlex.sm="50%" appearance="outline">
                    <textarea #inputDescription matInput rows="15" formControlName="description"></textarea>
                    <mat-hint align="end">{{inputDescription.value?.length || 0}}/1000</mat-hint>
                    <mat-error align="end">Enter description</mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="add-product-second-step" [fxFlex]="(50) + '%'" fxFlex.xs="100%" fxFlex.sm="50%">
            <div class="text-input-container" fxLayout="row wrap" fxLayoutGap="grid">
                <span [fxFlex]="(20) + '%'" fxFlex.xs="100%" fxFlex.sm="50%">Image</span>
                <app-image-upload (OnImageUpdated)="onImageSourceUpdated($event)" [fxFlex]="(80) + '%'" fxFlex.xs="100%" fxFlex.sm="50%" class="img-upload">
                </app-image-upload>
            </div>
            <div class="text-input-container" fxLayout="row wrap" fxLayoutGap="grid">
                <span class="input-label" [fxFlex]="(20) + '%'" fxFlex.xs="100%" fxFlex.sm="50%">Category</span>
                <mat-form-field [fxFlex]="(80) + '%'" fxFlex.xs="100%" fxFlex.sm="50%" appearance="outline">
                    <mat-select formControlName="category" [(value)]="selectedType">
                        <mat-option *ngFor="let type of typeArray; let i=index" value="{{typeArray[i].name}}">
                            {{type.name}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="text-input-container" fxLayout="row wrap" fxLayoutGap="grid">
                <span class="input-label" [fxFlex]="(20) + '%'" fxFlex.xs="100%" fxFlex.sm="50%">Author</span>
                <mat-form-field [fxFlex]="(80) + '%'" fxFlex.xs="100%" fxFlex.sm="50%" appearance="outline">
                    <mat-select multiple formControlName="author">
                        <mat-option *ngFor="let author of allAuthors$ | async; let i=index" value="{{author.id}}">
                            {{author.firstName}} {{author.lastName}}</mat-option>
                        <mat-error align="end">Select author</mat-error>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="text-input-container" fxLayout="row wrap" fxLayoutGap="grid">
                <span class="input-label" [fxFlex]="(20) + '%'" fxFlex.xs="100%" fxFlex.sm="50%">Price</span>
                <mat-form-field class="step-input-sm" [fxFlex]="(80) + '%'" fxFlex.xs="100%" fxFlex.sm="50%" appearance="outline">
                    <input formControlName="price" inputPrice matInput type="number" />
                    <mat-error align="end">Enter price</mat-error>
                </mat-form-field>
            </div>
            <div class="text-input-container" fxLayout="row wrap" fxLayoutGap="grid">
                <span class="input-label" [fxFlex]="(20) + '%'" fxFlex.xs="100%" fxFlex.sm="50%">Currency</span>
                <mat-form-field matTooltip="blocked" [fxFlex]="(80) + '%'" fxFlex.xs="100%" fxFlex.sm="50%" appearance="outline">
                    <mat-select formControlName="currency" [(value)]="selectedCurrency">
                        <mat-option *ngFor="let type of currencyArray; let i=index" value="{{currencyArray[i].name}}">
                            {{type.name}}</mat-option>
                        <mat-error align="end">Select currency</mat-error>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>

        <div class="dialog-actions-container" fxLayout="row wrap" fxLayoutGap="grid">
            <button cdkFocusInitial [fxFlex]="(100/2) + '%'" fxFlex.xs="100%" fxFlex.sm="50%" mat-button (click)="onCancelClick()">Cancel</button>
            <button class="btn-confirm" [fxFlex]="(100/2) + '%'" fxFlex.xs="100%" fxFlex.sm="50%" mat-button type="submit">Save</button>
        </div>

    </form>
</div>
