.crop {
	width: 200px;
	height: 150px;
	overflow: hidden;
  }
  .crop img {
	width: 100%;
  }

  .details-top-content{
    margin: 30px;
  }

  .details-left-content{
    margin: 0px;
  }

  .details-right-content{
    margin: 0px;
    height:200px;
  }

  .details-title-container{
    margin-left: 15px;
  }

  .details-description-content {
    margin-left: 30px;
    margin-right: 30px;
  }

  .btn-cart{
    width: 60%;
    float: right;
  }


  .btn-add-to-cart{
    background-color: #b5d6a9;

  }

  .btn-remove-from-cart{
    background-color: red;
  }

  .add-to-cart-container{
    width: 60%;
    float: right;
  }

  .price{
    color: green
  }

  .details-price{
    float: right;
  }

  .details-qty{
    margin-top: auto;
    margin-bottom: auto;
  }