<div class="details-top-content" fxLayout="row wrap" fxLayoutGap="grid">
    <div fxLayout="row wrap" class="details-left-content" [fxFlex]="(100/2) + '%'" fxFlex.xs="100%" fxFlex.sm="50%">
        <div class="crop details-image-container">
            <img mat-card-image src="{{ (details$ | async)?.imageSource}}" height="200px">
        </div>
        <div class="details-title-container">
            <span>
                <h4>{{ (details$ | async)?.title }}</h4>
            </span>
            <span> by: {{ (details$ | async)?.authors | authorsDetailed }}</span>
        </div>
    </div>
    <div class="details-right-content" [fxFlex]="(100/2) + '%'" fxFlex.xs="100%" fxFlex.sm="50%">
        <div class="add-to-cart-container" fxLayout="row wrap">
            <div class="details-qty" [fxFlex]="(100/2) + '%'" fxFlex.xs="100%" fxFlex.sm="50%">
                <span>Qty:</span><input #QtyInput type="number" min="1" max="10" value="1">
            </div>
            <div [fxFlex]="(100/2) + '%'" fxFlex.xs="100%" fxFlex.sm="50%">
                <h4 class="price details-price">{{ (details$ | async)?.price | price: (details$ | async)?.currency}}
                </h4>
            </div>
        </div>
        <div *ngIf="(selectRole$ | async) === roles.Client">
            <div *ngIf="(isAddedToCart$ | async);  then  removeFromCartBlock else addToCartBlock"></div>
            <ng-template #addToCartBlock>
                <button mat-raised-button class="btn-add-to-cart btn-cart" (click)="onAddToCart()">Add to Cart</button>
            </ng-template>
            <ng-template #removeFromCartBlock>
                <button mat-raised-button class="btn-remove-from-cart btn-cart" (click)="onAddToCart()">Remove from
                    cart</button>
            </ng-template>
        </div>
    </div>
</div>
<div class="details-description-content">
    <span>{{ (details$ | async)?.description }}</span>
</div>