<mat-drawer-container class="drawer-container">
    <mat-drawer mode="side" opened>
        <printing-edition-filter (filterApplied)="onFilterApplied($event)"></printing-edition-filter>
    </mat-drawer>
    <mat-drawer-content>
        <printing-edition-catalog (searchApplied)="onSearchApplied($event)" 
                                  (sortTypeChanged)="onSortTypeChanged($event)"
                                  (pageChanged)="onPageChanged($event)"></printing-edition-catalog>
    </mat-drawer-content>
</mat-drawer-container>
