<div class="main-login-container">
    <div class="login-input-container">
        <form class="login-input-form" [formGroup]="registrationFormGroup" (ngSubmit)="onSubmit()">
            <span>
                <h3>Create Account</h3>
            </span><br />

            <mat-label>Your First name</mat-label><br />
            <mat-form-field appearance="outline" class="login-input">
                <input type="text" matInput placeholder="First name" formControlName="firstName" maxlength="20"
                    minlength="1" required>
                <mat-error align="end">Please enter your first name</mat-error>
            </mat-form-field>

            <mat-label>Your Last name</mat-label>
            <mat-form-field appearance="outline" class="login-input">
                <input type="text" matInput placeholder="Last name" formControlName="lastName" maxlength="20" minlength="1"
                    required>
                <mat-error align="end">Please enter your last name</mat-error>
            </mat-form-field>

            <mat-label>Username</mat-label><br />
            <mat-form-field appearance="outline" class="login-input">
                <input type="text" matInput placeholder="Username" formControlName="userName" maxlength="20"
                    minlength="5" required>
                <mat-error align="end">Please enter your username</mat-error>
            </mat-form-field>

            <mat-label>Email</mat-label><br />
            <mat-form-field appearance="outline" class="login-input">
                <input type="email" matInput placeholder="Email" formControlName="email" maxlength="30" minlength="6"
                    required>
                <mat-error align="end">Please enter a valid email adress</mat-error>
            </mat-form-field>

            <mat-label>Password</mat-label><br />
            <mat-form-field class="login-input" appearance="outline">
                <input class="login-input" type="password" matInput placeholder="At least 6 characters, one number, one capital and one lower case letter" formControlName="password"
                    maxlength="20" minlength="6" required>
                <mat-error align="end">Password must be at least 6 characters, one number, one capital and one lower case letter</mat-error>
            </mat-form-field>

            <mat-label>Confirm password</mat-label><br />
            <mat-form-field appearance="outline" class="login-input">
                <input type="password" matInput placeholder="Password should be the same" formControlName="confirmPassword"
                    maxlength="20" minlength="6" required>
                <mat-error align="end">Password should be the same</mat-error>
            </mat-form-field>

            <button mat-raised-button class="login-input" color="primary" routerLinkActive="active">Sign Up your
                account</button>

        </form>
        <div class="sign-in-bloc login-input-form">
            <mat-label>Already have an account?</mat-label>
            <a class="login-link" routerLink="/login" routerLinkActive="active">Sign-In</a>
        </div>
    </div>
</div>