.main-login-container {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.login-input-container {
    display: table-cell;
    vertical-align: middle;
}

.login-input-form{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.login-input{
    width: 500px;
}

.sign-in-bloc{
    margin-top: 30px;
}

.login-link{
    margin-left: 15px;
}

::ng-deep .mat-form-field-wrapper{
    padding-bottom: 10px;
}