<button mat-icon-button (click)="onCreateClicked()" class="btn-create"
        matTooltip="Add new Author">
    <mat-icon svgIcon="create"></mat-icon>
</button>

<table mat-table [dataSource]="authors$ | async | paginate: pagination" class="mat-elevation-z8 table-positions">

    <ng-container matColumnDef="authorId">
        <th mat-header-cell *matHeaderCellDef>
            <button mat-button (click)="onAuthorIdSortChanged()"
                matTooltip="click to sort by Id">
                <span>Id</span>
            </button>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>
            <button mat-button (click)="onUserNameSortChanged()"
                matTooltip="click to sort by Name">
                <span>Name</span>
            </button>
        </th>
        <td mat-cell *matCellDef="let element"> {{element | authorManagmentFullName}} </td>
    </ng-container>

    <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef>Product</th>
        <td mat-cell *matCellDef="let element">
            <div *ngFor="let printingEdition of element.printingEditions">
                {{ printingEdition.title }}
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="editAuthor(element)">
                <mat-icon svgIcon="edit"></mat-icon>
            </button>
            <button mat-icon-button (click)="removeAuthor(element)">
                <mat-icon svgIcon="remove_user"></mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<pagination-controls previousLabel="Prev" nextLabel="Next" responsive="true" (pageChange)="handlePageChange($event)" id="authormanagment">
</pagination-controls>