<div fxLayout="row wrap" fxLayoutGap="grid">
    <form [formGroup]="userFormGroup" [connectForm]="profile$ | async" [fxFlex]="(50) + '%'" fxFlex.xs="100%" fxFlex.sm="50%" (ngSubmit)="onSubmit()">
        <div class="text-input-container">
            <button *ngIf="!isInEditMode" class="edit-control" mat-icon-button (click)="onEditPressed()">
                <mat-icon svgIcon="edit"></mat-icon>
            </button>
        </div>
        <img [src]="imageRef" class="profile-icon">
        <br />

        <input type="file" *ngIf="isInEditMode" [disabled]="!isInEditMode" accept="image/*" (change)="showPreview($event)" /><br/>

        <span>Your First name</span>
        <mat-form-field appearance="outline" class="text-input-container">
            <input type="text" matInput formControlName="firstName" maxlength="20" minlength="1"
                required>
            <mat-error align="end">Enter first name</mat-error>
        </mat-form-field><br />

        <span>Your Last name</span>
        <mat-form-field appearance="outline" class="text-input-container">
            <input type="text" matInput formControlName="lastName" maxlength="20" minlength="1"
                required>
            <mat-error align="end">Enter last name</mat-error>
        </mat-form-field><br />

        <span>Username</span>
        <mat-form-field appearance="outline" class="text-input-container">
            <input type="text" matInput formControlName="userName" maxlength="20" minlength="5"
                required>
            <mat-error align="end">Enter username</mat-error>
        </mat-form-field><br />

        <span>Email</span>
        <mat-form-field appearance="outline" class="text-input-container">
            <input type="email" matInput  formControlName="email" maxlength="30" minlength="6"
                required>
            <mat-error align="end">Enter a valid email adress</mat-error>
        </mat-form-field><br />

        <div class="text-input-container" *ngIf="isInEditMode" formGroupName="passwordGroup">
            <span>Password</span>
            <mat-form-field appearance="outline" class="text-input-container">
                <input type="password" matInput formControlName="password" pattern="^$|^(?=.*[A-Z])(?=.*[0-9])(?=.*[a-z]).{6,}$">
                <mat-error align="end">Password must be at least 6 characters, one number, one capital and one lower
                    case letter</mat-error>
            </mat-form-field><br />

            <span>Confirm password</span>
            <mat-form-field appearance="outline" class="text-input-container">
                <input type="password" matInput formControlName="confirmPassword"
                    [errorStateMatcher]="confirmValidParentMatcher">
                <mat-error align="end">Password & Confirm password doesn't match</mat-error>
            </mat-form-field>
        </div>
        <br />
        <div *ngIf="isInEditMode" class="dialog-actions-container" fxLayout="row wrap" fxLayoutGap="grid">
            <button  class="btn-confirm" [fxFlex]="(100/2) + '%'" fxFlex.xs="100%" fxFlex.sm="50%" mat-button type="submit">Save</button>
            <button [fxFlex]="(100/2) + '%'" fxFlex.xs="100%" fxFlex.sm="50%" mat-button (click)="onCancelClick()">Cancel</button>
        </div>
    </form>
</div>