<section class="menu-section">
    <span class="menu-item">Categories</span>
    <div *ngFor="let category of categories; let i=index">
        <mat-checkbox #categoryCheckbox class="menu-item" id="{{categories[i].id}}" name="{{categories[i].name}}" (change)="onSelectCriteria($event)">
            {{ category.name }}
        </mat-checkbox>
    </div>
</section>
<mat-divider></mat-divider>
<section class="menu-section">
    <span class="menu-item">Price</span><br />
    <section class="menu-item">
            <input [(ngModel)]="value"  class="menu-price-input" type="text" min="0">
            <span> - </span>
            <input [(ngModel)]="highValue" class="menu-price-input" type="text" min="0">
            <span> $ </span>
            <button (click)="onSubmit($event)">OK</button>
    </section>
    <ngx-slider class="menu-range" [(value)]="value" [(highValue)]="highValue" [options]="options"></ngx-slider>
</section>