.menu-section {
    margin: 15px 0;
    width: 200px; 
  }
  
  .menu-item {
    margin: 0 15px;
  }

  .menu-range {
    margin-top: 50px;
    margin-left: 15px;
    width: 170px;
  }

  .menu-price-input {
    width: 30px;
  }