.main-login-container {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.login-input-container {
    display: table-cell;
    vertical-align: middle;
}

.login-input-form{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.login-input{
    width: 500px;
}

.login-form-bloc{
    margin-top: 20px;
}

.center-btn{
    margin-left: auto;
    margin-right: auto;
}