<div class="main-login-container">
    <div class="login-input-container">

        <form #recoveryBlock class="login-input-form" [formGroup]="recoveryForm" (ngSubmit)="onSubmit()">
            <span>
                <h3>Password assistance</h3>
            </span><br />

            <div *ngIf="(isPasswordRecovered$ | async);  then continueBlock else recoveryBlock"></div>

            <ng-template #recoveryBlock>
                <span>Enter the email address associated with your account</span><br />
                <input class="login-input" type="email" formControlName="email"> <br />

                <div class="login-form-bloc">
                    <button class="center-btn" type="submit" [disabled]="!recoveryForm.valid">Continue</button>
                </div>
            </ng-template>

            <ng-template #continueBlock>
                <span>You will receive an e email with a new password to login onto your e-mail box stated in your
                    Personal profile</span><br />
                <span>Please contact our administrator if you don't receive an email message with a new password</span><br />
                <div class="login-form-bloc">
                    <button class="center-btn"  (click)="continue()">Continue</button>
                </div>
            </ng-template>

        </form>

    </div>
</div>