<div class="main-login-container">
    <div class="login-input-container">
        <div class="login-input-form">
            <h3 class="text-centered">Confirm your email adress</h3>
            <span>
                <p>We have sent an email with a confirmation to your email adress. In order to complete the sign-up
                    process,
                    please click the confirmation link.</p>
                <p>If you do not receive a confirmation email, please check your spam folder. Also, please verify that
                    you
                    entered a valid email address in our sign-up form.</p>
            </span>
        </div>
    </div>
</div>