<button mat-icon-button (click)="onCreateClicked()" class="btn-create" matTooltip="Add new Product">
    <mat-icon svgIcon="create"></mat-icon>
</button>

<table mat-table [dataSource]="catalog$ | async | paginate: pagination" class="mat-elevation-z8 table-positions">

    <ng-container matColumnDef="productId">
        <th mat-header-cell *matHeaderCellDef>
            <button mat-button (click)="onCatalogIdSortChanged()" matTooltip="click to sort by Id">
                <span>Id</span>
            </button>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>
            <button mat-button (click)="onUserNameSortChanged()" matTooltip="click to sort by Name">
                <span>Name</span>
            </button>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>


    <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>
            <span>Description</span>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.description | stringTrim:100}} </td>
    </ng-container>

    <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>
            <button mat-button [matMenuTriggerFor]="menu" matTooltip="filter by category">
                <span>Category</span>
            </button>
            <mat-menu #menu="matMenu" class="control-menu">
                <div *ngFor="let category of categories; let i=index" mat-menu-item>
                    <mat-checkbox #categoryCheckbox class="menu-item" id="{{categories[i].id}}" name="{{categories[i].name}}"
                        (change)="onSelectCriteria($event)">
                        {{ category.name }}
                    </mat-checkbox>
                </div>
            </mat-menu>
        </th>
        <td mat-cell *matCellDef="let element">
            {{element.printingEditionType | printingEditionType}}
        </td>
    </ng-container>

    <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef>
            <span>Author</span>
        </th>
        <td mat-cell *matCellDef="let element">
            <div *ngFor="let item of element.authors">
                {{item.firstName}} {{item.lastName}}
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="price">
        <th mat-header-cell *matHeaderCellDef>
            <button mat-button (click)="onPriceSortChanged()" matTooltip="click to sort by price">
                <span>Price</span>
            </button>
        </th>
        <td mat-cell *matCellDef="let element">
            <span>{{ element.price | price: element.currency}} </span>
        </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="editProduct(element)">
                <mat-icon svgIcon="edit"></mat-icon>
            </button>
            <button mat-icon-button (click)="removeProduct(element)">
                <mat-icon svgIcon="remove_user"></mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<pagination-controls previousLabel="Prev" nextLabel="Next" responsive="true" (pageChange)="handlePageChange($event)" id="catalogmanagment">
</pagination-controls>