<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Book Publishing Company</span>
        <span class="toolbar-space"></span>

        <button *ngIf="(selectRole$ | async) === roles.Client" mat-icon-button class="control-menu" (click)="onCartClicked()">
            <span>{{selectCartPositionsCount$ | async}}</span>
            <mat-icon svgIcon="cart"></mat-icon>
        </button>

        <!--client controls-->
        <div *ngIf="(selectRole$ | async) === roles.Client">
            <button mat-icon-button [matMenuTriggerFor]="menu" class="control-menu">
                <mat-icon svgIcon="profile_menu"></mat-icon>
            </button>
            <mat-menu #menu="matMenu" class="control-menu">
                <button mat-menu-item (click)="onCatalogClicked()">
                    <span>Catalog</span>
                </button>
                <button mat-menu-item (click)="onMyProfileClicked()">
                    <span>My profile</span>
                </button>
                <button mat-menu-item (click)="onMyOrdersClicked()">
                    <span>My orders</span>
                </button>
                <button mat-menu-item (click)="onLogOutClicked()">
                    <span>Log Out</span>
                </button>
            </mat-menu>
        </div>

        <!--admin controls-->
        <div *ngIf="(selectRole$ | async) === roles.Admin" >
            <button mat-icon-button [matMenuTriggerFor]="menu" class="control-menu">
                <mat-icon svgIcon="profile_menu"></mat-icon>
            </button>         
            <mat-menu #menu="matMenu" class="control-menu">
                <button mat-menu-item (click)="onCatalogClicked()">
                    <span>Catalog</span>
                </button>
                <button mat-menu-item (click)="onMyProfileClicked()">
                    <span>My profile</span>
                </button>
                <button mat-menu-item (click)="onOrderManagmentClicked()">
                    <span>Order managment</span>
                </button>
                <button mat-menu-item (click)="onCatalogManagmentClicked()">
                    <span>Catalog managment</span>
                </button>
                <button mat-menu-item (click)="onUserManagmentClicked()">
                    <span>User managment</span>
                </button>
                <button mat-menu-item (click)="onAuthorManagmentClicked()">
                    <span>Author managment</span>
                </button>
                <button mat-menu-item (click)="onLogOutClicked()">
                    <span>Log Out</span>
                </button>
            </mat-menu>
        </div>

    </mat-toolbar-row>
</mat-toolbar>