<h1 mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
    <p>{{data.subTitle}}</p>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="true" color="warn" cdkFocusInitial>Confirm</button>
    <button mat-button (click)="onCancelClick()" color="primary">Cancel</button>
</div>