<div class="search-container">
    <mat-form-field class="search-input">
        <input #Search matInput placeholder="Search user">
    </mat-form-field>
</div>

<table mat-table [dataSource]="users$ | async | paginate: pagination" class="mat-elevation-z8 table-positions">

    <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef>FullName</th>
        <td mat-cell *matCellDef="let element"> {{element | userFullName}} </td>
    </ng-container>
    <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef>
            <button mat-button (click)="onUserNameSortChanged()"
            matTooltip="click to sort by user name">
                <span>User Name</span>
            </button>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
    </ng-container>
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>
            <button mat-button (click)="onEmailSortChanged()"
            matTooltip="click to sort by email">
                <span>Email</span>
            </button>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
    </ng-container>
    <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>
            <button mat-button [matMenuTriggerFor]="menu"
            matTooltip="filter by status">
                <span>Status</span>
            </button>
            <mat-menu #menu="matMenu" class="control-menu">
                <div *ngFor="let category of categories; let i=index" mat-menu-item>
                    <mat-checkbox #categoryCheckbox class="menu-item" id="{{categories[i].id}}" name="{{categories[i].name}}"
                        (change)="onSelectCriteria($event)">
                        {{ category.name }}
                    </mat-checkbox>
                </div>
            </mat-menu>
        </th>
        <td mat-cell *matCellDef="let element">
            <mat-slide-toggle [ngModel]="element.accountStatus | isAccountActive: element.accountStatus" (change)="onStatusChanged(element, $event)"></mat-slide-toggle>
        </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="editUser(element)">
                <mat-icon svgIcon="edit"></mat-icon>
            </button>
            <button mat-icon-button (click)="removeUser(element)">
                <mat-icon svgIcon="remove_user"></mat-icon>
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<pagination-controls previousLabel="Prev" nextLabel="Next" responsive="true" (pageChange)="handlePageChange($event)" id="first">
</pagination-controls>