<h3 mat-dialog-title class="title cart-text">Checkout</h3>

<div *ngIf="(hasPositions$ | async);  then positionsBlock else emptyBlock"></div>


<ng-template #emptyBlock>
  <h3 mat-dialog-title class="cart-text">Your cart is empty</h3>
</ng-template>
<ng-template #positionsBlock>
<div mat-dialog-content>
  <table mat-table [dataSource]="(cart$ | async)?.items" class="mat-elevation-z8 table-positions">

    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef>product</th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
    <ng-container matColumnDef="unitPrice">
      <th mat-header-cell *matHeaderCellDef>Unit price</th>
      <td mat-cell *matCellDef="let element"> {{element.price}} </td>
    </ng-container>
    <ng-container matColumnDef="qty">
      <th mat-header-cell *matHeaderCellDef>Qty</th>
      <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
    </ng-container>
    <ng-container matColumnDef="orderAmount">
      <th mat-header-cell *matHeaderCellDef>Order amount</th>
      <td mat-cell *matCellDef="let element">
        <span>{{element.total}}</span>
      </td>
    </ng-container>
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button class="remove" (click)="removePosition(element.cartItemId)">
          <mat-icon svgIcon="remove_cart"></mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<div fxLayout="row wrap" fxLayoutGap="grid">
  <button [fxFlex]="(100/2) + '%'" fxFlex.xs="100%" fxFlex.sm="50%" mat-button (click)="onCancelClick()">Cancel</button>
  <button class="btn-confirm" [fxFlex]="(100/2) + '%'" fxFlex.xs="100%" fxFlex.sm="50%" mat-button
   cdkFocusInitial (click)="onSubmit()">Buy now</button>
</div>
</ng-template>