<div class="main-login-container">
    <div class="login-input-container">
        <form class="login-input-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <span>
                <h3>Sign-In</h3>
            </span><br />
            <span>E-mail</span><br />
            <input class="login-input" type="email" formControlName="email"> <br />

            <div class="login-form-bloc">
                <span>Password</span>
                <a  routerLink="/password_recovery" routerLinkActive="active" class="right-bind">Forgot your password?</a>
            </div>

            <input class="login-input" type="password" formControlName="password"> <br />
            <div class="login-form-bloc">
                <mat-checkbox class="remember-check">Remember me</mat-checkbox>
                <button class="right-bind" type="submit" [disabled]="!loginForm.valid">Sign-In</button>
            </div>
        </form>
        <div class="sign-up-block">
            <div>
                <span class="no-wrap-span">New to Book Publishing Company?</span><br />
                <button class="stretch-button" routerLink="/createaccount" routerLinkActive="active">Sign Up</button>
            </div>
        </div>
    </div>
</div>