.main-login-container {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.login-input-container {
    display: table-cell;
    vertical-align: middle;
}

.login-input-form{
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.login-input{
    width: 500px;
}

.sign-up-block{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 60px;
}

.remember-check{
    float: left;
}

.right-bind{
    float: right;
}

.no-wrap-span{
    white-space: nowrap;
}

.stretch-button{
 width: -webkit-fill-available;
}

.login-form-bloc{
    margin-top: 20px;
}