<div class="main-login-container">
    <div class="login-input-container">
        <div class="login-input-form">
            <h4 class="text-centered">Dear new {{(account$ | async)?.firstName}} {{(account$ | async)?.lastName}} Thank for your registration</h4>
        </div>
        <div class="confirm-btn-container">
            <button routerLinkActive="active">Continue</button>
        </div>            
    </div>
</div>