.main-login-container {
    display: table;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.login-input-container {
    display: table-cell;
    vertical-align: top;
}

.login-input-form{
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    width: 500px;
}

.text-centered{
    text-align: center;
}

.confirm-btn-container{
    display: flex;
    justify-content: center;
}
