<table mat-table [dataSource]="orders$ | async | paginate: pagination" class="mat-elevation-z8 table-positions">

    <ng-container matColumnDef="order">
        <th mat-header-cell *matHeaderCellDef>
            <button mat-button (click)="onOrderIdSortChanged()"
                matTooltip="click to sort by Id">
                <span>Order</span>
            </button>
        </th>
        <td mat-cell *matCellDef="let element"> {{ element.orderId }} </td>
    </ng-container>
    <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef>
            <button mat-button (click)="onDateSortChanged()"
            matTooltip="click to sort by Date">
                <span>Date</span>
            </button>
        </th>
        <td mat-cell *matCellDef="let element"> {{element.orderTime | date:'mediumDate'}} </td>
    </ng-container>
    <ng-container matColumnDef="userName">
        <th mat-header-cell *matHeaderCellDef>UserName</th>
        <td mat-cell *matCellDef="let element"> {{ element.userName }} </td>
    </ng-container>
    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element"> {{ element.email }} </td>
    </ng-container>

    <ng-container matColumnDef="product">
        <th mat-header-cell *matHeaderCellDef>Product</th>
        <td mat-cell *matCellDef="let element">
            <div *ngFor="let orderPosition of element.positions">
                {{orderPosition.printingEditionType | printingEditionType}}
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Title</th>
        <td mat-cell *matCellDef="let element">
            <div *ngFor="let orderPosition of element.positions">
                {{orderPosition.title}}
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Qty</th>
        <td mat-cell *matCellDef="let element">
            <div *ngFor="let orderPosition of element.positions">
                {{orderPosition.quantity}}
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="orderAmount">
        <th mat-header-cell *matHeaderCellDef>
            <button mat-button (click)="onOrderAmountSortChanged()"
            matTooltip="click to sort by amount">
                <span>Order amount</span>
            </button>
        </th>
        <td mat-cell *matCellDef="let element">
            <span>{{ element.orderAmount | price: element.currency}} </span>
        </td>
    </ng-container>
    <ng-container matColumnDef="orderStatus">
        <th mat-header-cell *matHeaderCellDef>
            <button mat-button [matMenuTriggerFor]="menu"
            matTooltip="filter by status">
                <span>Status</span>
            </button>
            <mat-menu #menu="matMenu" class="control-menu">
                <div *ngFor="let category of categories; let i=index" mat-menu-item>
                    <mat-checkbox #categoryCheckbox class="menu-item" id="{{categories[i].id}}" name="{{categories[i].name}}"
                        (change)="onSelectCriteria($event)">
                        {{ category.name }}
                    </mat-checkbox>
                </div>
            </mat-menu>
        </th>
        <td mat-cell *matCellDef="let element">
            <div *ngIf="element.orderStatus == orderStatus.Unpaid;  then unpaidBlock else paidBlock"></div>
            <ng-template #unpaidBlock>
                <span>Unpaid</span>
            </ng-template>
            <ng-template #paidBlock>
                <span>Paid</span>
            </ng-template>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<pagination-controls previousLabel="Prev" nextLabel="Next" responsive="true" (pageChange)="handlePageChange($event)" id="ordermanagment">
</pagination-controls>