<h3 mat-dialog-title>Edit author</h3>
<div mat-dialog-content>
    <form [formGroup]="editAuthorFormGroup" (ngSubmit)="onSubmit()">

        <mat-form-field appearance="outline" class="author-input">
            <input type="text" matInput placeholder="First name" formControlName="firstName" maxlength="20" minlength="3"
                required>
            <mat-error align="end">Enter first name</mat-error>
        </mat-form-field><br />

        <mat-form-field appearance="outline" class="author-input">
            <input type="text" matInput placeholder="Last name" formControlName="lastName" maxlength="20" minlength="3"
                required>
            <mat-error align="end">Enter last name</mat-error>
        </mat-form-field><br />

        <div fxLayout="row wrap" fxLayoutGap="grid">
                <button cdkFocusInitial [fxFlex]="(100/2) + '%'" fxFlex.xs="100%" fxFlex.sm="50%" mat-button (click)="onCancelClick()">Cancel</button>
                <button class="btn-confirm" [fxFlex]="(100/2) + '%'" fxFlex.xs="100%" fxFlex.sm="50%" mat-button
                  type="submit">Save</button>
              </div>    
    </form>
</div>

