<div class="content">
    <div class="search-container">
        <mat-form-field class="search-input">
            <input #Search matInput placeholder="Search by book title or author">
        </mat-form-field><br />
        <span>Sort by</span>
        <mat-form-field appearance="fill">
            <mat-select [(value)]="selected" (selectionChange)="onSortTypeChanged()">
                <mat-option *ngFor="let sorttype of sortArray; let i=index" value="{{sortArray[i].name}}">
                    {{sorttype.name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div fxLayout="row wrap" fxLayoutGap="grid">
        <div *ngFor="let book of catalog$ | async | paginate: pagination" [routerLink]="['details', book.id]" class="catalog-item" [fxFlex]="(100/gridColumns) + '%'" fxFlex.xs="100%" fxFlex.sm="33%">
            <mat-card class="mat-elevation-z4">
                <div class="crop">
                    <img mat-card-image src="{{ book.imageSource }}" height="200px">
                </div>
                <mat-card-content>
                    <h3>{{ book.title }}</h3>
                    <span>{{ book.authors | authorFullName}} </span><br />
                    <h4 class="price">{{ book.price | price: book.currency}}</h4>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <pagination-controls previousLabel="Prev" nextLabel="Next" responsive="true" (pageChange)="handlePageChange($event)"
        id="first">
    </pagination-controls>
</div>