.content > mat-card {
    margin-bottom: 0px;
}

.crop {
	width: 200px;
	height: 150px;
	overflow: hidden;
  }
  .crop img {
	width: 100%;
  }

  .price{
    color: green
  }

  .content {
    height: 100%;
  }

  .catalog-item {
    margin: 10px;
  }

  .search-container{
    width: 100%;
    text-align: right;
  }

  .search-input{
    width: 50%;
    min-width: 200px;
  }