.add-product-first-step, .add-product-second-step{
    padding: 5px;
}

.text-input-container, .dialog-actions-container, .img-upload{
    width: 100%;
}

.centered-text{
    text-align: center;
}

.img-upload{
    height: 100px;
}

.input-label{
    margin-top: 5px;
}