<div *ngIf="data.isSucceeded;  then succeeded else canceled"></div>

<ng-template #succeeded>
    <h3 mat-dialog-title>Thank you for your purchase!</h3>
    <div mat-dialog-content>
        <span>Your order number is {{data.orderId}}</span>
    </div>
</ng-template>
<ng-template #canceled>
    <h3 mat-dialog-title>Your order number is {{data.orderId}}</h3>
    <div mat-dialog-content>
        <span>You can fulfil the order any time</span>
    </div>
</ng-template>